<% layout("/layouts/boilerplate") %>

<h3>Chat Details</h3>
<div class="chat">
    <p>From : <i><%= chat.from %></i></p>
    <div class="msg">
        <p><%= chat.message %></p>
    </div>
    <p>Received by <i><%= chat.to %></i></p>
    <hr />
    <p><%= chat.created_at.toString().split(" ")[4] %></p>
    <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
</div>
